n8n/Project Status Interviewer - voice.json
{
  "name": "Project Status Interviewer - voice",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.document_id }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -640,
        336
      ],
      "id": "a87ffc66-5c10-43c7-8ffd-1ad29e4e9869",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "k1EoHiegV47vo2db",
          "name": "Google Docs account - Andreas"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        -752
      ],
      "id": "eef6128a-d793-415f-85ea-603d0e564357",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.slack_channel_id }}",
          "mode": "id"
        },
        "text": "placeholder",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -768,
        -336
      ],
      "id": "1183e97c-bc83-443e-8a5d-7daf53438031",
      "name": "request for status message",
      "webhookId": "6ff647e5-740b-4039-8924-7e0cd1134d3d",
      "credentials": {
        "slackApi": {
          "id": "EJLrJ9PwnDzNVVZS",
          "name": "project-status-interviewer"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        336
      ],
      "id": "20a30a50-cb76-4ffa-b785-92a164ec20cb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "v9FJw7ANGGH6VI9i",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -416,
        224
      ],
      "id": "83fed8d8-d9b0-49ba-9a4d-d718ad704dc7",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9737e0fc-e917-4ad7-8cc3-eb3209a6ba0c",
              "name": "=current_kw",
              "value": "={{ $now.toFormat('WW') }}",
              "type": "string"
            },
            {
              "id": "897f1531-f6a6-4a7e-b30b-8c7a09536072",
              "name": "year",
              "value": "={{ $now.toFormat('yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        544
      ],
      "id": "5b6830df-afaa-483d-bc02-454e2994d060",
      "name": "get_date_for_agent1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-last-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        224
      ],
      "id": "7358be3f-9399-4d6d-9354-ea3dd10f06a4",
      "name": "Fetch last report",
      "webhookId": "66e575b9-2104-49aa-9065-2fa1d3474d17"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Fetch last report').item.json.body.last_report_request }}",
        "options": {
          "systemMessage": "=You are an operations assistant supporting a Voice AI agent. Your goal is to provide a concise status update that is easy to read aloud.\n\nTASK:\n1. Use the 'Get a document in Google Docs' tool to retrieve the content of the document (ID: {{ $json.document_id }}).\n2. Extract the core status of project {{ $('Select earliest entry').item.json.project_name }}.\n\nOUTPUT REQUIREMENTS:\n- Length: Exactly 3-5 sentences.\n- Tone: Professional but conversational (suitable for text-to-speech). Avoid jargon or complex formatting like bullet points within the text string.\n- Content: Focus on what was achieved and what is currently pending.\n\nOUTPUT FORMAT:\n- Return ONLY a clean JSON object.\n- Format: {\"previous_summary\": \"The summary text goes here.\"}\n\nCRITICAL:\n- No markdown formatting (no **bold**, no ```json blocks).\n- Do not mention the Document ID or technical metadata in the summary.\n- If the document is inaccessible, return: {\"previous_summary\": \"I couldn't access the latest project report, so I don't have a specific update on that right now.\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -768,
        112
      ],
      "id": "bff33fa2-8f4f-47e9-97fd-6891e0a1f0b2",
      "name": "Report fetcher"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-status-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        544
      ],
      "id": "98b89747-80ed-4094-8750-cd54bab8ead0",
      "name": "Submit status report",
      "webhookId": "66e575b9-2104-49aa-9065-2fa1d3474d17"
    },
    {
      "parameters": {
        "folderId": "={{ $('Select earliest entry1').item.json.drive_folder_id }}",
        "title": "=Statusbericht_{{ $('Select earliest entry1').item.json.project_name }}_{{ $('get_date_for_agent1').item.json.year }}_KW{{ $('get_date_for_agent1').item.json.current_kw }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -544,
        544
      ],
      "id": "b2428093-b6d9-4f4d-b4e9-748cd607b589",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "k1EoHiegV47vo2db",
          "name": "Google Docs account - Andreas"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        544
      ],
      "id": "6b2126d8-1a99-4d3a-acbb-e5e46bcca887",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Create a document').item.json.name }}\n\n## Activities: {{ $('Submit status report').item.json.body.activities }}\n\n## Next steps: {{ $('Submit status report').item.json.body.next_steps }}\n\n## Support needed: {{ $('Submit status report').item.json.body.support_needed }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -320,
        544
      ],
      "id": "48676d58-2338-435c-b1a8-d1a4d7277c14",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "k1EoHiegV47vo2db",
          "name": "Google Docs account - Andreas"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1664,
        -336
      ],
      "id": "80d0b6be-8443-4f8e-8d0c-0ff94c736c38",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verify_slot_is_empty",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1664,
        -112
      ],
      "id": "11b0c9ac-388a-47fd-887c-33a59cc540f7",
      "name": "verify_slot_is_empty",
      "webhookId": "66e575b9-2104-49aa-9065-2fa1d3474d17"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9737e0fc-e917-4ad7-8cc3-eb3209a6ba0c",
              "name": "=kw",
              "value": "={{ $now.toFormat('WW') }}",
              "type": "string"
            },
            {
              "id": "897f1531-f6a6-4a7e-b30b-8c7a09536072",
              "name": "year",
              "value": "={{ $now.toFormat('yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        -112
      ],
      "id": "b1ee0694-4f3f-4dbb-a0ec-a79ce586ebbe",
      "name": "get_current_date1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -768,
        -112
      ],
      "id": "b56850d5-1f25-490a-b783-8e1a22bf002d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "swj7LKIJWI42CJSM",
          "mode": "list",
          "cachedResultName": "project_status_overview",
          "cachedResultUrl": "/projects/dAHyp2o5R1jdG6yX/datatables/swj7LKIJWI42CJSM"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "kw",
              "keyValue": "={{ $('get_current_date1').item.json.kw }}"
            },
            {
              "keyName": "year",
              "keyValue": "={{ $('get_current_date1').item.json.year }}"
            },
            {
              "keyName": "project_id",
              "keyValue": "={{ $('verify_slot_is_empty').item.json.body.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1216,
        -112
      ],
      "id": "ab0c7cd2-8068-43c4-8667-bec906b05b50",
      "name": "get_this_kw_row",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if the previous node (get_this_kw_row) returned any items\nconst inputItems = $input.all();\n\n// If the array is empty, it means the row wasn't found (slot is free)\nconst isSlotEmpty = inputItems.length === 0 || Object.keys(inputItems[0].json).length === 0;\n\nreturn {\n  slot_empty: isSlotEmpty\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        -112
      ],
      "id": "301aad13-72e2-4711-8f71-c4516fcad973",
      "name": "return_boolean"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "createdAt",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1216,
        224
      ],
      "id": "cc0a71ce-9868-4b03-b033-b27eef51f9d5",
      "name": "Sort createdAt desc"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "swj7LKIJWI42CJSM",
          "mode": "list",
          "cachedResultName": "project_status_overview",
          "cachedResultUrl": "/projects/dAHyp2o5R1jdG6yX/datatables/swj7LKIJWI42CJSM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "keyValue": "={{ $('Fetch last report').item.json.body.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1440,
        224
      ],
      "id": "9b984dc6-344c-4633-8b90-fb51647e14c5",
      "name": "get_rows"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -992,
        224
      ],
      "id": "d1acda32-2eb9-4ba5-9a99-0cf698369f75",
      "name": "Select earliest entry"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "swj7LKIJWI42CJSM",
          "mode": "list",
          "cachedResultName": "project_status_overview",
          "cachedResultUrl": "/projects/dAHyp2o5R1jdG6yX/datatables/swj7LKIJWI42CJSM"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "year": "={{ $('get_date_for_agent1').item.json.year }}",
            "kw": "={{ $('get_date_for_agent1').item.json.current_kw }}",
            "project_name": "={{ $('Select earliest entry1').item.json.project_name }}",
            "project_owner": "={{ $('Select earliest entry1').item.json.project_owner }}",
            "document_id": "={{ $('Create a document').item.json.id }}",
            "project_id": "={{ $('Select earliest entry1').item.json.project_id }}",
            "drive_folder_id": "={{ $('Select earliest entry1').item.json.drive_folder_id }}",
            "slack_ts": "={{ $('Submit status report').item.json.body.slack_ts }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "kw",
              "displayName": "kw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "project_owner",
              "displayName": "project_owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "document_id",
              "displayName": "document_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "drive_folder_id",
              "displayName": "drive_folder_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "slack_ts",
              "displayName": "slack_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -96,
        544
      ],
      "id": "c00b82b8-1f1c-4735-9e45-e5ca013d6a35",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CHXaFl7Pv82RthV4",
          "mode": "list",
          "cachedResultName": "project_status_project_owners",
          "cachedResultUrl": "/projects/dAHyp2o5R1jdG6yX/datatables/CHXaFl7Pv82RthV4"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -336
      ],
      "id": "72aa3a60-4ae6-43d7-a2f4-2eec3d8b4880",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst grouped = {};\n\n\n\nfor (const item of items) {\n  const project = item.json.project_name;\n  const id = item.json.project_id;\n  const owner = item.json.project_owner;\n  const slackId = item.json.project_owner_slack_id;\n\n  // Format the owner (e.g., \"Andreas\" or \"@Andreas\" if you use Slack IDs)\n  const ownerDisplay = slackId ? `<@${slackId}>` : owner;\n  if (!grouped[project]) {\n\n    grouped[project] = {\n\n      project_name: project,\n      project_id: id,\n      owners: [ownerDisplay]\n\n    };\n\n  } else {\n\n    grouped[project].owners.push(ownerDisplay);\n\n  }\n\n}\n\n\n\n// Convert the object back into an array n8n can loop through\n\nreturn Object.values(grouped).map(group => ({\n\n  json: {\n\n    project_name: group.project_name,\n    project_id: group.project_id,\n    combined_owners: group.owners.join(\", \") // Creates \"Ellen, Ben\"\n\n  }\n\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        -336
      ],
      "id": "8af9f327-59e4-4c86-90f6-fc0f661dd1e5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f48e7c84-ecf9-4797-8d0c-f8b41f4a7fad",
              "name": "slack_channel_id",
              "value": "C0A3NUD8DD5",
              "type": "string"
            },
            {
              "id": "323b1349-ba82-451f-a687-e2d6e0c51c01",
              "name": "current_kw",
              "value": "={{ $now.toFormat('WW') }}",
              "type": "string"
            },
            {
              "id": "ef5d1b84-0308-4276-b23e-ee53153fb3da",
              "name": "year",
              "value": "={{ $now.toFormat('yyyy') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        -336
      ],
      "id": "485547a5-2d05-41c1-85ae-e1a61e582dfe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "createdAt",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -1216,
        544
      ],
      "id": "dcabf2de-95d3-4cfc-be02-9772aa64fb46",
      "name": "Sort createdAt desc1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CHXaFl7Pv82RthV4",
          "mode": "list",
          "cachedResultName": "project_status_project_owners",
          "cachedResultUrl": "/projects/dAHyp2o5R1jdG6yX/datatables/CHXaFl7Pv82RthV4"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "keyValue": "={{ $('Submit status report').item.json.body.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1440,
        544
      ],
      "id": "30a44f5c-1c7e-4b7a-9e7c-36d4dcc5819c",
      "name": "get_rows1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -992,
        544
      ],
      "id": "14267d88-6f09-4fdc-8d1f-fa98a7d638dd",
      "name": "Select earliest entry1"
    },
    {
      "parameters": {
        "operation": "update",
        "channelId": {
          "__rl": true,
          "value": "C0A3NUD8DD5",
          "mode": "id"
        },
        "ts": "={{ $json.message.ts }}",
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"👋 Bitte gib ein Status-Update für *{{ $('Code in JavaScript').item.json.project_name }}* für KW-{{ $('Edit Fields').item.json.current_kw }}-{{ $('Edit Fields').item.json.year }}. {{ $('Code in JavaScript').item.json.combined_owners }}\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"📝 Status abgeben\",\n            \"emoji\": true\n          },\n          \"style\": \"primary\",\n          \"url\": \"https://elevenlabs.io/app/talk-to?agent_id=agent_1501kgkzbqnzfyys53p1820hq3a9&branch_id=agtbrch_3301kgkzbseafrx8erkqvbbg2wn7&var_project_id={{ $('Code in JavaScript').item.json.project_id }}&var_slack_ts={{ $json.message.ts }}\",\n          \"action_id\": \"status_button\"        }\n      ]\n    }\n  ]\n}",
        "text": "=",
        "updateFields": {},
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -544,
        -336
      ],
      "id": "363e5725-e723-4121-82fc-a1dafc03754e",
      "name": "Update a message",
      "webhookId": "3b210b11-af32-462e-b9f5-04ed2de555ca",
      "credentials": {
        "slackApi": {
          "id": "EJLrJ9PwnDzNVVZS",
          "name": "project-status-interviewer"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "C0A3NUD8DD5",
          "mode": "id"
        },
        "timestamp": "={{ $('Submit status report').item.json.body.slack_ts }}",
        "name": "white_check_mark"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        128,
        544
      ],
      "id": "3ee7eb1c-dc1c-497f-a4a0-6afd3a33ba20",
      "name": "Update Slack message",
      "webhookId": "dedf6605-4d79-432a-841f-b5746e2da69e",
      "credentials": {
        "slackApi": {
          "id": "EJLrJ9PwnDzNVVZS",
          "name": "project-status-interviewer"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1664,
        -560
      ],
      "id": "bcc52844-5e45-46d1-a384-384dfc55c452",
      "name": "Reminder trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -544,
        -736
      ],
      "id": "5dab4e9b-0241-4a65-b70b-655d62d5d724",
      "name": "Select earliest entry2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CHXaFl7Pv82RthV4",
          "mode": "list",
          "cachedResultName": "project_status_project_owners",
          "cachedResultUrl": "/projects/dAHyp2o5R1jdG6yX/datatables/CHXaFl7Pv82RthV4"
        },
        "limit": 20
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -656
      ],
      "id": "8ad92a50-8b12-43d6-8ddc-644decb2ce47",
      "name": "Get project list"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -992,
        -656
      ],
      "id": "e241fe91-e74f-45fd-a82b-ee9e762edb83",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst grouped = {};\n\n\n\nfor (const item of items) {\n  const project = item.json.project_name;\n  const id = item.json.project_id;\n  const owner = item.json.project_owner;\n  const slackId = item.json.project_owner_slack_id;\n\n  // Format the owner (e.g., \"Andreas\" or \"@Andreas\" if you use Slack IDs)\n  const ownerDisplay = slackId ? `<@${slackId}>` : owner;\n  if (!grouped[project]) {\n\n    grouped[project] = {\n\n      project_name: project,\n      project_id: id,\n      owners: [ownerDisplay]\n\n    };\n\n  } else {\n\n    grouped[project].owners.push(ownerDisplay);\n\n  }\n\n}\n\n\n\n// Convert the object back into an array n8n can loop through\n\nreturn Object.values(grouped).map(group => ({\n\n  json: {\n\n    project_name: group.project_name,\n    project_id: group.project_id,\n    combined_owners: group.owners.join(\", \") // Creates \"Ellen, Ben\"\n\n  }\n\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        -656
      ],
      "id": "193336d0-6a38-49b2-91c1-6c4c2b57de82",
      "name": "Create project list"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "swj7LKIJWI42CJSM",
          "mode": "list",
          "cachedResultName": "project_status_overview",
          "cachedResultUrl": "/projects/dAHyp2o5R1jdG6yX/datatables/swj7LKIJWI42CJSM"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "project_id",
              "keyValue": "={{ $json.project_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -768,
        -736
      ],
      "id": "8582537b-343f-4d08-af4e-60a74fdb99fc",
      "name": "Get status reports"
    },
    {
      "parameters": {
        "resource": "reaction",
        "operation": "get",
        "channelId": {
          "__rl": true,
          "value": "C0A3NUD8DD5",
          "mode": "id"
        },
        "timestamp": "={{ $json.slack_ts }}"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -320,
        -736
      ],
      "id": "748d65ba-506c-481b-a35b-e7ac39868f79",
      "name": "Get reaction",
      "webhookId": "675d90c6-e83c-4fb8-9990-54484f275b19",
      "credentials": {
        "slackApi": {
          "id": "EJLrJ9PwnDzNVVZS",
          "name": "project-status-interviewer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const msg = item.json.message;\n  let hasCheckMark = false;\n\n  // 1. Check if the 'reactions' array even exists and has items\n  // This 'Short-Circuits' the logic for 90% of messages\n  if (msg && msg.reactions && msg.reactions.length > 0) {\n    // 2. Only now do we do the 'expensive' search\n    hasCheckMark = msg.reactions.some(r => r.name === 'white_check_mark');\n  }\n\n  return {\n    json: {\n      ...item.json,\n      has_check_mark: hasCheckMark\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -736
      ],
      "id": "d8fc44b2-31da-43c7-a280-6f09508e2585",
      "name": "Check for checkmark"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6cd0d1d5-d9bf-4cfd-a227-338634759b62",
              "leftValue": "={{ $json.has_check_mark }}",
              "rightValue": "white_check_mark",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        -736
      ],
      "id": "4d583df4-9d9b-4873-b2f3-15cc8d5b83e6",
      "name": "If message has checkmark"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A3NUD8DD5",
          "mode": "id"
        },
        "text": "={{ $('Loop Over Items').item.json.combined_owners }} report reminder. ",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "=1771408164.367499"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        352,
        -656
      ],
      "id": "4f562854-bf65-4a77-acf9-397df250fef2",
      "name": "Send reminder",
      "webhookId": "049344f6-954b-4d94-99cd-a9fbb3fca1f9",
      "credentials": {
        "slackApi": {
          "id": "EJLrJ9PwnDzNVVZS",
          "name": "project-status-interviewer"
        }
      }
    },
    {
      "parameters": {
        "content": "Add error handling in case of empty ts"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -848
      ],
      "typeVersion": 1,
      "id": "04f27dae-5c12-435a-a056-c75b72280b21",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Report fetcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get project list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Report fetcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get_date_for_agent1": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch last report": {
      "main": [
        [
          {
            "node": "get_rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report fetcher": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit status report": {
      "main": [
        [
          {
            "node": "get_rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verify_slot_is_empty": {
      "main": [
        [
          {
            "node": "get_current_date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_current_date1": {
      "main": [
        [
          {
            "node": "get_this_kw_row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_this_kw_row": {
      "main": [
        [
          {
            "node": "return_boolean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "return_boolean": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort createdAt desc": {
      "main": [
        [
          {
            "node": "Select earliest entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_rows": {
      "main": [
        [
          {
            "node": "Sort createdAt desc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select earliest entry": {
      "main": [
        [
          {
            "node": "Report fetcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Update Slack message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "request for status message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort createdAt desc1": {
      "main": [
        [
          {
            "node": "Select earliest entry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_rows1": {
      "main": [
        [
          {
            "node": "Sort createdAt desc1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select earliest entry1": {
      "main": [
        [
          {
            "node": "get_date_for_agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request for status message": {
      "main": [
        [
          {
            "node": "Update a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Slack message": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reminder trigger": {
      "main": [
        [
          {
            "node": "Get project list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get project list": {
      "main": [
        [
          {
            "node": "Create project list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get status reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select earliest entry2": {
      "main": [
        [
          {
            "node": "Get reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create project list": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get status reports": {
      "main": [
        [
          {
            "node": "Select earliest entry2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get reaction": {
      "main": [
        [
          {
            "node": "Check for checkmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for checkmark": {
      "main": [
        [
          {
            "node": "If message has checkmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If message has checkmark": {
      "main": [
        [],
        [
          {
            "node": "Send reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send reminder": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "versionId": "7a4b20c2-fe1e-4cc0-af7b-3ae1f93de30b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58bc80b014303e07f209f1f5092cd304e8b2f3edba5fbc1cb7f21a27b4c47b4d"
  },
  "id": "KnHWPuO3qJoIwzOogJxUn",
  "tags": []
}